extends layout

block content
  h2 Wie ben ik?
  .summary
    :marked
      Mijn werk is mijn passie! Sinds de jaren '90 houd ik me al bezig met
      web-development. In het begin voornamelijk kleine sites voor het MKB
      in [PHP][9] en [MySQL][10]. Dit verruilde zich later voor grote
      webomgevingen ontwikkelt op het .NET platform (voornamelijk C#) met
      een [MS Sql Server][12].

      [9]: http://www.php.net/
      [10]: https://www.mysql.com/
      [12]: https://www.microsoft.com/nl-nl/server-cloud/products/sql-server/

  :marked
    Bij mijn vorige werkgever, [InfoProjects BV][4] uit Bussum, heb ik veel
    ervaring opgedaan met web-development. Na mijn HBO studie Hogere
    Informatica (afgerond in juni 2003), ben ik daar gestart als junior
    web-developer en heb me de afgelopen jaren ontwikkeld tot de
    technisch verantwoordelijke, senior developer voor diverse
    web-projecten. Daar werkte ik voornamelijk met Microsoft technologieën
    ([C#][11] en Sql Server), (X)HTML, JavaScipt, CSS, XML en XSLT.

    In mijn vrije tijd ben ik regelmatig bezig met mijn vak, kennis opdoen
    in andere programmeertalen of er over lezen. Zo heb ik bij de geboorte
    van mijn eerste dochter een [Online Dagboek][1] site opgezet in [Python][13]
    ([Flask][14]) i.c.m. [PostgreSQL][15], met op het moment van schrijven ruim 2000
    gebruikers.

    Naast de *.NET en Python-wereld* trekt ook de wereld van [Node JS][8]. Om
    zowel frontend- als backendtaken op te lossen met eenzelfde
    programmeertaal vind ik een mooi principe.

    Mijn huidige werkgever is [Ster][5] (Stichting Etherreclame), hier ben ik
    sinds begin 2015 actief als senior webdeveloper en binnengehaald
    voor het technisch begeleiden en implementeren van een CMS met een
    bijbehorende corporate website, ontworpen door een designbureau. Alles
    is gebaseerd op .NET technologie (C#, Razor en het [Umbraco CMS][6]) in
    een [Azure][7] omgeving.

    Daarnaast heb ik een traject opgezet om continuous integration en
    deployment in gebruik te nemen op basis van de applicaties [TeamCity][2]
    en [Octopus][3].

    [1]: http://www.online-dagboek.nl/
    [2]: https://www.jetbrains.com/teamcity/
    [3]: https://octopus.com/
    [4]: http://www.infoprojects.nl/
    [5]: http://www.ster.nl/
    [6]: http://umbraco.com/
    [7]: https://azure.microsoft.com/nl-nl/
    [8]: https://nodejs.org/
    [11]: https://en.wikipedia.org/wiki/C_Sharp_(programming_language)
    [13]: https://www.python.org/
    [14]: http://flask.pocoo.org/
    [15]: http://www.postgresql.org/
